# Project exclude paths
/eurekaclient/target/
/eurekaconsumer/target/
/eurekaserver/target/
/feign/target/
/hystrix/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/RestTemplate/target/
/target/
/zuul/target/